@using DfE.EducationProviderRegistry.Web.Mvc.Features.Search.ViewModels
@model (string FacetKey, string Label, string Value, FacetValueViewModel? FacetValue)

<div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input"
           id="@($"{Model.FacetKey}-{Model.Value.Replace(" ", "")}")"
           name="SelectedFacets[@Model.FacetKey]"
           type="checkbox"
           value="@Model.Value"
                @(Model.FacetValue?.IsSelected == true ? "checked" : "") />

    <label class="govuk-label govuk-checkboxes__label"
           for="@($"{Model.FacetKey}-{Model.Value.Replace(" ", "")}")">
        @Model.Label (@(Model.FacetValue?.Count ?? 0))
    </label>
</div>
