@using DfE.EducationProviderRegistry.Web.Mvc.Features.Search.ViewModels

@model (string BindingName, FacetValueViewModel FacetValue)

@{
    var id = $"filter-{Model.BindingName}-{Model.FacetValue.Value}"
        .Replace("[", "-")
        .Replace("]", string.Empty);
}

<div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input"
           id="@id"
           name="@Model.BindingName"
           type="checkbox"
           value="@Model.FacetValue.Value"
           checked="@Model.FacetValue.IsSelected" />

    <label class="govuk-label govuk-checkboxes__label"
           for="@id">
        @Model.FacetValue.Value

        @if (Model.FacetValue.Count is not null)
        {
            <span class="govuk-hint">
                (@Model.FacetValue.Count)
            </span>
        }
    </label>
</div>